@font-face {
  font-family: "iconfont"; /* Project id 3370086 */
  src: url('./static/iconfont/iconfont.woff2?t=1655650634877') format('woff2'),
       url('./static/iconfont/iconfont.woff?t=1655650634877') format('woff'),
       url('./static/iconfont/iconfont.ttf?t=1655650634877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doubleleft:before {
  content: "\e7ed";
}

.icon-pulldown:before {
  content: "\e79f";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-man:before {
  content: "\e7e2";
}

.icon-woman:before {
  content: "\e8f1";
}

.icon-shenqingliebiao:before {
  content: "\e60a";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-guanlizhongxin:before {
  content: "\e62e";
}

.icon-IPdizhi:before {
  content: "\e64b";
}

.icon-jiaruwomen:before {
  content: "\e61c";
}

.icon-next:before {
  content: "\e701";
}

.icon-paihangbang1:before {
  content: "\e651";
}

.icon-guanyuwomen:before {
  content: "\e655";
}

